<div class="flex flex-row justify-center items-center w-screen bg-yellow h-[65px]">
  <div class="flex flex-row-reverse justify-around items-center w-full">
    <div>
      <img class= "max-w-[78px]" src="assets/logo/noon-logo-ar.svg" alt="noon-logo">
    </div>

    <div class="flex justify-between max-w-[150px]">
      <div class="flex flex-col items-end">
        <p class="font-cairo text-sm font-bold">تسليم إلى</p>
        <p class="font-cairo text-sm font-medium">القاهرة</p>
      </div>
      <img class="w-[30px] ml-3" src="assets/others/eg.svg" alt="">
    </div>

    <div class="flex flex-row-reverse items-center w-full max-w-[1220px] p-2 rounded-lg min-h-[8px] max-h-[36px] bg-white">
      <p class="font-cairo font-light">أنت بتدور على ايه؟</p>
    </div>

  </div>
</div>
