<div
    class="w-full max-w-[1440px] min-w-[460px] min-h-[auto] max-h-[300px] bg-background_color"
>
    <swiper [config]="config" class="mySwiper">
        <ng-template *ngFor="let image of mainSliderUrls" swiperSlide>
            <a href="https://www.noon.com/egypt-ar/">
                <div class="slide-container">
                    <img
                        class="max-w-[1440px] max-h-[300px]"
                        src="{{ image }}"
                        alt=""
                    />
                </div>
            </a>
        </ng-template>
    </swiper>
</div>
