<div
    class="w-full max-w-[1440px] min-w-[460px] min-h-[auto] max-h-[300px] bg-background_color"
>
    <swiper [config]="config" class="mySwiper">
        <ng-template swiperSlide>
          <a href="https://www.noon.com/egypt-ar/">
            <div class="slide-container">
              <img src="assets/main carousel/1.gif" alt="" />
            </div>
          </a>
          </ng-template>
        <ng-template *ngFor="let file of fileList" swiperSlide>
          <a href="https://www.noon.com/egypt-ar/">
            <div class="slide-container">
                <img src="{{file}}" alt="" />
              </div>
            </a>
        </ng-template>
    </swiper>
</div>
