<div class="w-full max-w-[1440px] min-w-[460px] min-h-[auto] max-h-[300px] bg-background_color">
  <swiper
          [config]="config"
          class="mySwiper"
          >
            <ng-template swiperSlide>
              <div class="slide-container"><img src="assets/main carousel/1.gif" alt=""></div>
            </ng-template>
            <ng-template swiperSlide
            >
              <div class="slide-container"><img src="assets/main carousel/2.jpeg" alt=""></div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="slide-container"><img src="assets/main carousel/3.jpeg" alt=""></div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="slide-container"><img src="assets/main carousel/4.jpeg" alt=""></div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="slide-container"><img src="assets/main carousel/5.jpeg" alt=""></div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="slide-container"><img src="assets/main carousel/6.jpeg" alt=""></div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="slide-container"><img src="assets/main carousel/7.jpeg" alt=""></div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="slide-container"><img src="assets/main carousel/8.jpeg" alt=""></div>
            </ng-template>
        </swiper>
    </div>