<div
    class="flex items-center justify-center max-w-[1440px] min-w-[460px] min-h-[222px] bg-background_color w-full"
>
    <div
        class="flex flex-col md:flex-row justify-around xl:justify-between items-center w-full"
    >
        <div
            class="flex flex-row max-w-[350px] p-8 justify-center items-center bg-yellow rounded-lg shadow-md"
        >
            <img
                class="max-w-[102px] min-w-[80px] rounded-lg"
                src="assets/sales/4.JPG"
                alt=""
            />
            <div class="flex flex-col justify-end items-end">
                <p class="font-cairo font-extrabold text-base lg:text-lg">
                    %خصم لحد 45
                </p>
                <p class="font-cairo w-3/4 text-end">زيوت التان و الصن بلوك</p>
            </div>
        </div>
        <div
            class="hidden xl:flex flex-row max-w-[350px] max-h-[165px] p-8 justify-center items-center bg-yellow rounded-lg shadow-md"
        >
            <img
                class="max-w-[102px] min-w-[80px] rounded-lg"
                src="assets/sales/1.JPG"
                alt=""
            />
            <div class="flex flex-col justify-end items-end">
                <p class="font-cairo font-extrabold text-lg">%خصم لحد 40</p>
                <p class="font-cairo w-3/4 text-end">
                    المكانس و تنظيف الأرضيات
                </p>
            </div>
        </div>
        <div
            class="hidden xl:flex flex-row max-w-[350px] max-h-[165px] p-8 justify-center items-center bg-yellow rounded-lg shadow-md"
        >
            <img
                class="max-w-[102px] min-w-[80px] rounded-lg"
                src="assets/sales/2.JPG"
                alt=""
            />
            <div class="flex flex-col justify-end items-end">
                <p class="font-cairo font-extrabold text-lg">%خصم من 20-80</p>
                <p class="font-cairo w-3/4 text-end">أحذية</p>
            </div>
        </div>
        <div
            class="hidden md:flex flex-row max-w-[350px] p-8 justify-center items-center bg-yellow rounded-lg shadow-md"
        >
            <img
                class="max-w-[102px] min-w-[80px] rounded-lg"
                src="assets/sales/3.JPG"
                alt=""
            />
            <div class="flex flex-col justify-end items-end">
                <p class="font-cairo font-extrabold text-base lg:text-lg">
                    %خصم لحد 25
                </p>
                <p class="font-cairo w-3/4 text-end">أجهزة اللابتوب</p>
            </div>
        </div>
    </div>
</div>
