<div class="w-fit float-right absolute right-0 z-50">
  <div class="max-w-full min-w-[200px] flex flex-row-reverse bg-background_color">
    <div class="flex flex-col justify-start pt-10 border-l bg-dark_background border-grey border-opacity-30 px-5 min-w-[200px] max-w-[400px]">
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">الإلكترونيات</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">الموبايلات</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">البقالة </a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">الجمال و العناية الشخصية</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">الأزياء</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">المنزل و المطبخ</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">الرياضة و اللياقة البدنية</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">منتجات الأطفال</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">مستلزمات السيارات</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">الكتب</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">لوازم المكتب</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">الموسيقى</a>
    </div>
    <div class="px-4 bg-white ">

      <h1 class="p-6 border-b border-grey border-opacity-30 text-right text-xl font-bold">الموبايلات</h1>
      <div class="flex flex-row">
    <div class="flex flex-col justify-end bg-white py-6 px-5 min-w-[200px] max-w-[400px]">
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">الإلكترونيات</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">الموبايلات</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">البقالة </a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">الجمال و العناية الشخصية</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">الأزياء</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">المنزل و المطبخ</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">الرياضة و اللياقة البدنية</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">منتجات الأطفال</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">مستلزمات السيارات</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">الكتب</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">لوازم المكتب</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">الموسيقى</a>
    </div>
    <div class="flex flex-col justify-end bg-white py-6 px-5 min-w-[200px] max-w-[400px]">
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">الإلكترونيات</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">الموبايلات</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">البقالة </a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">الجمال و العناية الشخصية</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">الأزياء</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">المنزل و المطبخ</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">الرياضة و اللياقة البدنية</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">منتجات الأطفال</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">مستلزمات السيارات</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">الكتب</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">لوازم المكتب</a>
      <a class="p-1 text-right font-semibold text-sm text-grey hover:text-blue transition-200" href="">الموسيقى</a>
    </div>
    </div>
    </div>

  </div>
</div>
