<app-header class="font-cairo" (show)="showNavBar($event)"></app-header>
  <div [ngClass]="{'blur-md': blackout}" class="flex flex-col justify-center items-center">
    <app-main-carousel
        class="z-auto flex w-full justify-center items-center"
    ></app-main-carousel>
    <app-categories-carousel
        class="z-auto flex w-full justify-center items-center"
    ></app-categories-carousel>
    <app-sales class="z-auto flex w-full justify-center items-center"></app-sales>
    <app-products class="z-auto flex w-full justify-center items-center font-cairo"></app-products>
  </div>
