<div class="flex justify-center">
<div class="container max-w-[1440px] min-w-[460px] min-h-[auto] max-h-[300px] bg-background_color">

<swiper
    [config]="config"
    class="mySwiper"
    >
      <ng-template swiperSlide>
        <div class="slide-container"><img src="assets/main carousel/1.gif" alt=""></div>
      </ng-template>
       <ng-template swiperSlide
       >
        <div class="slide-container"><img src="assets/main carousel/2.jpeg" alt=""></div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="slide-container"><img src="assets/main carousel/3.jpeg" alt=""></div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="slide-container"><img src="assets/main carousel/4.jpeg" alt=""></div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="slide-container"><img src="assets/main carousel/5.jpeg" alt=""></div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="slide-container"><img src="assets/main carousel/6.jpeg" alt=""></div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="slide-container"><img src="assets/main carousel/7.jpeg" alt=""></div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="slide-container"><img src="assets/main carousel/8.jpeg" alt=""></div>
      </ng-template>
      </swiper>
</div>
</div>



<div class="flex justify-center items-center overflow-hidden">
  <div class="flex items-center container max-w-[1440px] min-w-[460px] min-h-[220px] max-h-[300px] bg-background_color py-5 overflow-x-scroll">

          <div class="slide-container flex flex-row space-x-4 w-[2000px]">
            <img class="max-w-[102px] min-w-[80px]" src="assets/categories carousel/1.avif" alt="">
            <img class="max-w-[102px] min-w-[80px]" src="assets/categories carousel/2.avif" alt="">
            <img class="max-w-[102px] min-w-[80px]" src="assets/categories carousel/3.avif" alt="">
            <img class="max-w-[102px] min-w-[80px]" src="assets/categories carousel/4.avif" alt="">
            <img class="max-w-[102px] min-w-[80px]" src="assets/categories carousel/5.avif" alt="">
            <img class="max-w-[102px] min-w-[80px]" src="assets/categories carousel/6.avif" alt="">
            <img class="max-w-[102px] min-w-[80px]" src="assets/categories carousel/7.avif" alt="">
            <img class="max-w-[102px] min-w-[80px]" src="assets/categories carousel/8.avif" alt="">
            <img class="max-w-[102px] min-w-[80px]" src="assets/categories carousel/9.avif" alt="">
            <img class="max-w-[102px] min-w-[80px]" src="assets/categories carousel/10.avif" alt="">
            <img class="max-w-[102px] min-w-[80px]" src="assets/categories carousel/11.avif" alt="">
            <img class="max-w-[102px] min-w-[80px]" src="assets/categories carousel/12.avif" alt="">
            <img class="max-w-[102px] min-w-[80px]" src="assets/categories carousel/13.avif" alt="">
            <img class="max-w-[102px] min-w-[80px]" src="assets/categories carousel/14.avif" alt="">
            <img class="max-w-[102px] min-w-[80px]" src="assets/categories carousel/15.avif" alt="">
            <img class="max-w-[102px] min-w-[80px]" src="assets/categories carousel/16.avif" alt="">
            <img class="max-w-[102px] min-w-[80px]" src="assets/categories carousel/17.avif" alt="">
            <img class="max-w-[102px] min-w-[80px]" src="assets/categories carousel/18.avif" alt="">
            <img class="max-w-[102px] min-w-[80px]" src="assets/categories carousel/19.avif" alt="">
            <img class="max-w-[102px] min-w-[80px]" src="assets/categories carousel/20.avif" alt="">
            <img class="max-w-[102px] min-w-[80px]" src="assets/categories carousel/21.avif" alt="">
            <img class="max-w-[102px] min-w-[80px]" src="assets/categories carousel/22.avif" alt="">
          </div>

  </div>
  </div>

