<div
    class="w-screen xl:max-w-[1440px] xl:w-full max-w-[1440px] min-w-[460px] min-h-[222px] bg-opacity-50 bg-yellow"
>
    <div class="flex justify-center items-center">
        <swiper [config]="config" class="mySwiper">
            <ng-template swiperSlide>
                <div
                    class="slide-container flex flex-row space-x-2 py-5 justify-center items-center"
                >
                <a *ngFor="let file of firstFileList" href="https://www.noon.com/egypt-ar/">
                  <img
                  class="min-w-[80px] max-w-[102px]"
                  src="{{file}}"
                  alt=""
                  />
                </a>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div
                    class="slide-container flex flex-row space-x-2 py-5 justify-center items-center"
                >
                <a *ngFor="let file of secondFileList" href="https://www.noon.com/egypt-ar/">
                  <img
                  class="min-w-[80px] max-w-[102px]"
                  src="{{file}}"
                  alt=""
                  />
                </a>
                </div>
            </ng-template>
        </swiper>
    </div>
</div>
